/* Basic reset for consistent styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* Using Arial font for simplicity */
    line-height: 1.6;
}

#cv {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
    margin-bottom: 5px;
}

header p {
    color: #666;
    /* Lighter text color for the title */
}

/* Styling for each section's title */
h2 {
    padding: 10px 0;
    margin-bottom: 15px;

    /* Separation Line */
    border-bottom: 2px solid #000;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
    color: #333;
}

h3 {
    font-size: 1.1em;
    color: #444;
    margin-bottom: 5px;
}

/* Styling for the contact information */
#contact address p {
    margin-bottom: 10px;
    text-align: center;
}

#Introduction p {
    font-style: italic;
    color: #555;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* Styling for the skills list */
#skills ul,
#languages ul {
    list-style-type: none;
    padding-left: 0;
}

#skills li,
#languages li {
    background-color: #f9f9f9;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-left: 3px solid #555;
}

#experience article,
#academic-project article {
    margin-bottom: 20px;
}

#experience h3,
#academic-project h3 {
    margin-bottom: 10px;
    font-size: 1.05em;
}

/* Estilos para las listas creadas */
#experience ul,
#academic-project ul {
    list-style-type: disc;
    padding-left: 25px;
    margin-top: 5px;
}

#experience li,
#academic-project li {
    margin-bottom: 8px;
    line-height: 1.5;
}

#education article {
    margin-bottom: 15px;
}